{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/index.html' %}
{% block base %}
	<h1 align="center">CARETAKER REGISTRATION</h1>
	<table align="center">
		<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<tr>
				<td>Name</td>
				<td><input type="text" name="caretakername" required=""></td>		
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="pass" required=""></td>
			</tr>
            <tr>
				<td>Contact</td>
				<td><input type="text" name="number" pattern="[0-9]{10}" required=""></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email" required=""></td>
			</tr>
			<tr>
				<td>Place</td>
				<td><input type="text" name="place" required=""></td>			
			</tr>

			<tr>
				<td>District</td>
				<td><input type="text" name="district" required=""></td>



			</tr>
            <tr>
					<td>PIN</td>
					<td><input type="text" name="pin" required=""></td>
				</tr>
			
			<tr>
				<td>Image</td>
				<td><input type="file" name="ppp"></td>

			</tr>
			<td></td>
			<td><input type="submit" name="regiser" value="REGISTER" class="btn btn-danger"></td>
			

			
		</form>
	</table>

{% endblock %}
{#</body>#}
{#</html>#}
