{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#</head>#}
{#<body>#}
{% extends 'temp/admin_home.html' %}
{%  block base %}
<h1 align="center">POST REPLY</h1>
<table align="center">
	<form method="post">
        {% csrf_token %}
		
		<tr>
			<td>REPLY</td>
			<td><textarea name="reply" rows="5" required=""></textarea></td>
		</tr>
		<TD></TD>
		<td><input type="submit" name="sub" class="btn btn-danger" value="POST"></td>
		
	</form>
	
</table>
{% endblock %}
{#</body>#}
{#</html>#}